/* app css stylesheet */

:root{
  --blue: #4285f4;
  --grey: #f5f5f5;
  --font-color: #6f7b83;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.menu-header{ grid-area: header; }
.search-bar{ grid-area: bar; }
.main-content{ grid-area: main; }

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "header header"
          "bar bar"
          "main main";
}

.menu-header {
  color: var(--blue);
  width: 100%;
}

.menu-header img{
  float: left;
  margin-left: 3%;
}

.menu-header nav{
  float: right;
}

.search-bar{
  background-color: var(--grey);
  padding: 0.5%;
}

.search-bar input{
  width: 100%;
  border: none;
  background-color: var(--grey);
  margin-left: 3%;
  align-self: center;
  outline: none;
}

.main-content{
  
}
