/* app css stylesheet */

:root{
  --blue: #4285f4;
  --grey: #f5f5f5;
  --dark-grey: #9b9b9b;
  --font-color: #6f7b83;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.menu-header{ grid-area: header; }
.search-bar{ grid-area: bar; }
.main-content{ grid-area: main; }
.title{ grid-area: title }
.filters{ grid-area: filters; }
.card{ grid-area: card; }
.pagination{ grid-area: pagination; }

.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
          "header header"
          "bar bar"
          "title title"
          "filters filters"
          "main main"
          "pagination pagination"
}

.menu-header {
  color: var(--blue);
  width: 100%;
}

.menu-header img{
  float: left;
  margin-left: 3%;
}

.menu-header nav{
  text-align: center;
  color: var(--font-color);
  float: right;
  margin-top: 1%;
  margin-right: 3%;
}

.menu-header nav a:enabled{
  color: var(--blue);
}

.search-bar{
  background-color: var(--grey);
  padding: 0.5%;
}

.search-bar input{
  width: 100%;
  border: none;
  background-color: var(--grey);
  margin-left: 3%;
  position: absolute;
  left:0;
  outline:none;
}

.search-icon{
  position: absolute;
  left: 100%;
}

input::placeholder{
  color: var(--dark-grey);
  font-style: italic;
}

.title h3 {
  color: var(--font-color);
  margin-left: 3%;
}

.main-content{

}

.filters{
  margin-left: 3%;
}

.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
  margin: 3%;
  text-align: left;
}

.card img{
  border-radius: 5px 0 0 5px;
  display: inline-block;
  width: 20%;
  margin: 0 5px 0 0;
  padding: 0;
}

.poster{
  position: relative;
  display: inline-block;
  z-index: 0;
  flex-basis: 40%;
  height: auto;
}

.info-card{
  display: inline-block;
  width: calc(80% - 15px);
  margin: 0;
  padding: 0;
}

.info-card h4 b{
  color: var(--font-color);
}

.trailer-button{
  border-color: var(--blue);
  border-radius: 5px;
  color: var(--blue);
  background-color: white;
  padding: 5px;
}

.modal-container {
  width: 40%;

  position: absolute;
  left: 30%;
  top: 30%;
  z-index: 1001;

  opacity: 0;
  border-radius: 3px;
  background: white;
  border: 1px solid teal;

  transform: translate(0,-200%);
  -webkit-transform: translate(0,-200%);

  transition: opacity ease-in-out .3s, transform ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s, transform ease-in-out .3s;
}

.modal-heading {
  background: #eaeaea;
  text-align: center;
  padding: 10px;
}

.trans-layer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);
  z-index: 1000;
}

.btn {
  background: teal;
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  outline: none;
}

.pagination{
  display: inline-block;
  margin-left: 3%;
  margin-bottom: 2%;
  color: var(--font-color);
}

.pagination a {
  color: var(--font-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover:not(.active) {
  background-color: var(--grey);
  border-radius: 5px;
}

